<div>
    <h2>
        <span jhiTranslate="invoiceappApp.quotationState.home.title">Quotation States</span>
        <button class="btn btn-primary float-right jh-create-entity create-quotation-state-invoice" [routerLink]="['/', { outlets: { popup: ['quotation-state-invoice-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="invoiceappApp.quotationState.home.createLabel">
            Create new Quotation State
            </span>
        </button>
    </h2>
    <inv-alert></inv-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="quotationStates">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="invoiceappApp.quotationState.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="statusDate"><span jhiTranslate="invoiceappApp.quotationState.statusDate">Status Date</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let quotationState of quotationStates ;trackBy: trackId">
                <td><a [routerLink]="['../quotation-state-invoice', quotationState.id ]">{{quotationState.id}}</a></td>
                <td jhiTranslate="{{'invoiceappApp.QuotationStatus.' + quotationState.status}}">{{quotationState.status}}</td>
                <td>{{quotationState.statusDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../quotation-state-invoice', quotationState.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'quotation-state-invoice/'+ quotationState.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'quotation-state-invoice/'+ quotationState.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="quotationStates && quotationStates.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
