
---
dist: trusty
language: node_js
sudo: false
git:
  depth: 5

node_js: stable

cache:
  yarn: true

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - source ~/.bashrc

script:
  - yarn lint
  - yarn test:unit
