<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInvoiceLineLabel" jhiTranslate="invoiceappApp.invoiceLine.home.createOrEditLabel">Create or edit a Invoice Line</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <inv-alert-error></inv-alert-error>
        <div class="form-group" [hidden]="!invoiceLine.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="invoiceLine.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.invoiceLine.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="invoiceLine.description" required maxlength="50"/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.invoiceLine.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                [(ngModel)]="invoiceLine.quantity" required/>
            <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.quantity?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.quantity?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.invoiceLine.unitCost" for="field_unitCost">Unit Cost</label>
            <input type="number" class="form-control" name="unitCost" id="field_unitCost"
                [(ngModel)]="invoiceLine.unitCost" required/>
            <div [hidden]="!(editForm.controls.unitCost?.dirty && editForm.controls.unitCost?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.unitCost?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.unitCost?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.invoiceLine.subTotal" for="field_subTotal">Sub Total</label>
            <input type="number" class="form-control" name="subTotal" id="field_subTotal"
                [(ngModel)]="invoiceLine.subTotal" required/>
            <div [hidden]="!(editForm.controls.subTotal?.dirty && editForm.controls.subTotal?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.subTotal?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.subTotal?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.invoiceLine.invoice" for="field_invoice">Invoice</label>
            <select class="form-control" id="field_invoice" name="invoice" [(ngModel)]="invoiceLine.invoiceId"  required>
                <option *ngIf="!editForm.value.invoice" [ngValue]="null" selected></option>
                <option [ngValue]="invoiceOption.id" *ngFor="let invoiceOption of invoices; trackBy: trackInvoiceById">{{invoiceOption.number}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.invoice?.dirty && editForm.controls.invoice?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.invoice?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
