<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myQuotationDefinitionLabel" jhiTranslate="invoiceappApp.quotationDefinition.home.createOrEditLabel">Create or edit a Quotation Definition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <inv-alert-error></inv-alert-error>
        <div class="form-group" [hidden]="!quotationDefinition.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="quotationDefinition.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotationDefinition.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="quotationDefinition.description" maxlength="1024"/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                   This field cannot be longer than 1024 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotationDefinition.docType" for="field_docType">Doc Type</label>
            <select class="form-control" name="docType" [(ngModel)]="quotationDefinition.docType" id="field_docType"  required>
                <option value="TENANT_LOGO">{{'invoiceappApp.DocumentType.TENANT_LOGO' | translate}}</option>
                <option value="INVOICE">{{'invoiceappApp.DocumentType.INVOICE' | translate}}</option>
                <option value="QUOTATION">{{'invoiceappApp.DocumentType.QUOTATION' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.docType?.dirty && editForm.controls.docType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.docType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotationDefinition.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="quotationDefinition.type" required minlength="1" maxlength="15"/>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                   This field is required to be at least 1 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 15 }">
                   This field cannot be longer than 15 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotationDefinition.vatRate" for="field_vatRate">Vat Rate</label>
            <input type="number" class="form-control" name="vatRate" id="field_vatRate"
                [(ngModel)]="quotationDefinition.vatRate" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotationDefinition.validityTerms" for="field_validityTerms">Validity Terms</label>
            <input type="text" class="form-control" name="validityTerms" id="field_validityTerms"
                [(ngModel)]="quotationDefinition.validityTerms" required maxlength="32"/>
            <div [hidden]="!(editForm.controls.validityTerms?.dirty && editForm.controls.validityTerms?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.validityTerms?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.validityTerms?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 32 }">
                   This field cannot be longer than 32 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotationDefinition.acceptation" for="field_acceptation">Acceptation</label>
            <input type="text" class="form-control" name="acceptation" id="field_acceptation"
                [(ngModel)]="quotationDefinition.acceptation" maxlength="512"/>
            <div [hidden]="!(editForm.controls.acceptation?.dirty && editForm.controls.acceptation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.acceptation?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                   This field cannot be longer than 512 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotationDefinition.family" for="field_family">Family</label>
            <select class="form-control" id="field_family" name="family" [(ngModel)]="quotationDefinition.familyId"  required>
                <option *ngIf="!editForm.value.family" [ngValue]="null" selected></option>
                <option [ngValue]="familyOption.id" *ngFor="let familyOption of families; trackBy: trackFamilyById">{{familyOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.family?.dirty && editForm.controls.family?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.family?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotationDefinition.language" for="field_language">Language</label>
            <select class="form-control" id="field_language" name="language" [(ngModel)]="quotationDefinition.languageId"  required>
                <option *ngIf="!editForm.value.language" [ngValue]="null" selected></option>
                <option [ngValue]="languageOption.id" *ngFor="let languageOption of languages; trackBy: trackLanguageById">{{languageOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.language?.dirty && editForm.controls.language?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.language?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotationDefinition.tenant" for="field_tenant">Tenant</label>
            <select class="form-control" id="field_tenant" name="tenant" [(ngModel)]="quotationDefinition.tenantId"  required>
                <option *ngIf="!editForm.value.tenant" [ngValue]="null" selected></option>
                <option [ngValue]="tenantOption.id" *ngFor="let tenantOption of tenants; trackBy: trackTenantById">{{tenantOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.tenant?.dirty && editForm.controls.tenant?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.tenant?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
