<div>
    <h2>
        <span jhiTranslate="invoiceappApp.quotationDefinition.home.title">Quotation Definitions</span>
        <button class="btn btn-primary float-right jh-create-entity create-quotation-definition-invoice" [routerLink]="['/', { outlets: { popup: ['quotation-definition-invoice-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="invoiceappApp.quotationDefinition.home.createLabel">
            Create new Quotation Definition
            </span>
        </button>
    </h2>
    <inv-alert></inv-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="quotationDefinitions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="invoiceappApp.quotationDefinition.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="docType"><span jhiTranslate="invoiceappApp.quotationDefinition.docType">Doc Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="invoiceappApp.quotationDefinition.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="vatRate"><span jhiTranslate="invoiceappApp.quotationDefinition.vatRate">Vat Rate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="validityTerms"><span jhiTranslate="invoiceappApp.quotationDefinition.validityTerms">Validity Terms</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="acceptation"><span jhiTranslate="invoiceappApp.quotationDefinition.acceptation">Acceptation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="familyName"><span jhiTranslate="invoiceappApp.quotationDefinition.family">Family</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="languageName"><span jhiTranslate="invoiceappApp.quotationDefinition.language">Language</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tenantName"><span jhiTranslate="invoiceappApp.quotationDefinition.tenant">Tenant</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let quotationDefinition of quotationDefinitions ;trackBy: trackId">
                <td><a [routerLink]="['../quotation-definition-invoice', quotationDefinition.id ]">{{quotationDefinition.id}}</a></td>
                <td>{{quotationDefinition.description}}</td>
                <td jhiTranslate="{{'invoiceappApp.DocumentType.' + quotationDefinition.docType}}">{{quotationDefinition.docType}}</td>
                <td>{{quotationDefinition.type}}</td>
                <td>{{quotationDefinition.vatRate}}</td>
                <td>{{quotationDefinition.validityTerms}}</td>
                <td>{{quotationDefinition.acceptation}}</td>
                <td>
                    <div *ngIf="quotationDefinition.familyId">
                        <a [routerLink]="['../family-invoice', quotationDefinition.familyId  ]" >{{quotationDefinition.familyName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="quotationDefinition.languageId">
                        <a [routerLink]="['../language-invoice', quotationDefinition.languageId  ]" >{{quotationDefinition.languageName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="quotationDefinition.tenantId">
                        <a [routerLink]="['../tenant-invoice', quotationDefinition.tenantId  ]" >{{quotationDefinition.tenantName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../quotation-definition-invoice', quotationDefinition.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'quotation-definition-invoice/'+ quotationDefinition.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'quotation-definition-invoice/'+ quotationDefinition.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="quotationDefinitions && quotationDefinitions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
