<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myQuotationLabel" jhiTranslate="invoiceappApp.quotation.home.createOrEditLabel">Create or edit a Quotation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <inv-alert-error></inv-alert-error>
        <div class="form-group" [hidden]="!quotation.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="quotation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotation.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="quotation.description" maxlength="1024"/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1024 }">
                   This field cannot be longer than 1024 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotation.docType" for="field_docType">Doc Type</label>
            <select class="form-control" name="docType" [(ngModel)]="quotation.docType" id="field_docType"  required>
                <option value="TENANT_LOGO">{{'invoiceappApp.DocumentType.TENANT_LOGO' | translate}}</option>
                <option value="INVOICE">{{'invoiceappApp.DocumentType.INVOICE' | translate}}</option>
                <option value="QUOTATION">{{'invoiceappApp.DocumentType.QUOTATION' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.docType?.dirty && editForm.controls.docType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.docType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotation.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="quotation.type" required minlength="1" maxlength="15"/>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                   This field is required to be at least 1 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 15 }">
                   This field cannot be longer than 15 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotation.vatRate" for="field_vatRate">Vat Rate</label>
            <input type="number" class="form-control" name="vatRate" id="field_vatRate"
                [(ngModel)]="quotation.vatRate" required/>
            <div [hidden]="!(editForm.controls.vatRate?.dirty && editForm.controls.vatRate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vatRate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.vatRate?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotation.validityTerms" for="field_validityTerms">Validity Terms</label>
            <input type="text" class="form-control" name="validityTerms" id="field_validityTerms"
                [(ngModel)]="quotation.validityTerms" required maxlength="32"/>
            <div [hidden]="!(editForm.controls.validityTerms?.dirty && editForm.controls.validityTerms?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.validityTerms?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.validityTerms?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 32 }">
                   This field cannot be longer than 32 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotation.acceptionation" for="field_acceptionation">Acceptionation</label>
            <input type="text" class="form-control" name="acceptionation" id="field_acceptionation"
                [(ngModel)]="quotation.acceptionation" maxlength="512"/>
            <div [hidden]="!(editForm.controls.acceptionation?.dirty && editForm.controls.acceptionation?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.acceptionation?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 512 }">
                   This field cannot be longer than 512 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotation.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="quotation.title" maxlength="50"/>
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotation.number" for="field_number">Number</label>
            <input type="text" class="form-control" name="number" id="field_number"
                [(ngModel)]="quotation.number" required/>
            <div [hidden]="!(editForm.controls.number?.dirty && editForm.controls.number?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.number?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotation.subTotalBeforeDiscount" for="field_subTotalBeforeDiscount">Sub Total Before Discount</label>
            <input type="number" class="form-control" name="subTotalBeforeDiscount" id="field_subTotalBeforeDiscount"
                [(ngModel)]="quotation.subTotalBeforeDiscount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotation.discountRate" for="field_discountRate">Discount Rate</label>
            <input type="number" class="form-control" name="discountRate" id="field_discountRate"
                [(ngModel)]="quotation.discountRate" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotation.discountAmount" for="field_discountAmount">Discount Amount</label>
            <input type="number" class="form-control" name="discountAmount" id="field_discountAmount"
                [(ngModel)]="quotation.discountAmount" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotation.subTotal" for="field_subTotal">Sub Total</label>
            <input type="number" class="form-control" name="subTotal" id="field_subTotal"
                [(ngModel)]="quotation.subTotal" required/>
            <div [hidden]="!(editForm.controls.subTotal?.dirty && editForm.controls.subTotal?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.subTotal?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.subTotal?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotation.vatAmount" for="field_vatAmount">Vat Amount</label>
            <input type="number" class="form-control" name="vatAmount" id="field_vatAmount"
                [(ngModel)]="quotation.vatAmount" required/>
            <div [hidden]="!(editForm.controls.vatAmount?.dirty && editForm.controls.vatAmount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.vatAmount?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.vatAmount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotation.total" for="field_total">Total</label>
            <input type="number" class="form-control" name="total" id="field_total"
                [(ngModel)]="quotation.total" required/>
            <div [hidden]="!(editForm.controls.total?.dirty && editForm.controls.total?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.total?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.total?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotation.additionalInformation" for="field_additionalInformation">Additional Information</label>
            <input type="text" class="form-control" name="additionalInformation" id="field_additionalInformation"
                [(ngModel)]="quotation.additionalInformation" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotation.family" for="field_family">Family</label>
            <select class="form-control" id="field_family" name="family" [(ngModel)]="quotation.familyId"  required>
                <option *ngIf="!editForm.value.family" [ngValue]="null" selected></option>
                <option [ngValue]="familyOption.id" *ngFor="let familyOption of families; trackBy: trackFamilyById">{{familyOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.family?.dirty && editForm.controls.family?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.family?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="invoiceappApp.quotation.tenant" for="field_tenant">Tenant</label>
            <select class="form-control" id="field_tenant" name="tenant" [(ngModel)]="quotation.tenantId"  required>
                <option *ngIf="!editForm.value.tenant" [ngValue]="null" selected></option>
                <option [ngValue]="tenantOption.id" *ngFor="let tenantOption of tenants; trackBy: trackTenantById">{{tenantOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.tenant?.dirty && editForm.controls.tenant?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.tenant?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
