<div>
    <h2>
        <span jhiTranslate="invoiceappApp.quotation.home.title">Quotations</span>
        <button class="btn btn-primary float-right jh-create-entity create-quotation-invoice" [routerLink]="['/', { outlets: { popup: ['quotation-invoice-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="invoiceappApp.quotation.home.createLabel">
            Create new Quotation
            </span>
        </button>
    </h2>
    <inv-alert></inv-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="quotations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="invoiceappApp.quotation.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="docType"><span jhiTranslate="invoiceappApp.quotation.docType">Doc Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="invoiceappApp.quotation.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="vatRate"><span jhiTranslate="invoiceappApp.quotation.vatRate">Vat Rate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="validityTerms"><span jhiTranslate="invoiceappApp.quotation.validityTerms">Validity Terms</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="acceptionation"><span jhiTranslate="invoiceappApp.quotation.acceptionation">Acceptionation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="invoiceappApp.quotation.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="number"><span jhiTranslate="invoiceappApp.quotation.number">Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="subTotalBeforeDiscount"><span jhiTranslate="invoiceappApp.quotation.subTotalBeforeDiscount">Sub Total Before Discount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="discountRate"><span jhiTranslate="invoiceappApp.quotation.discountRate">Discount Rate</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="discountAmount"><span jhiTranslate="invoiceappApp.quotation.discountAmount">Discount Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="subTotal"><span jhiTranslate="invoiceappApp.quotation.subTotal">Sub Total</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="vatAmount"><span jhiTranslate="invoiceappApp.quotation.vatAmount">Vat Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="total"><span jhiTranslate="invoiceappApp.quotation.total">Total</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="additionalInformation"><span jhiTranslate="invoiceappApp.quotation.additionalInformation">Additional Information</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="familyName"><span jhiTranslate="invoiceappApp.quotation.family">Family</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tenantName"><span jhiTranslate="invoiceappApp.quotation.tenant">Tenant</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let quotation of quotations ;trackBy: trackId">
                <td><a [routerLink]="['../quotation-invoice', quotation.id ]">{{quotation.id}}</a></td>
                <td>{{quotation.description}}</td>
                <td jhiTranslate="{{'invoiceappApp.DocumentType.' + quotation.docType}}">{{quotation.docType}}</td>
                <td>{{quotation.type}}</td>
                <td>{{quotation.vatRate}}</td>
                <td>{{quotation.validityTerms}}</td>
                <td>{{quotation.acceptionation}}</td>
                <td>{{quotation.title}}</td>
                <td>{{quotation.number}}</td>
                <td>{{quotation.subTotalBeforeDiscount}}</td>
                <td>{{quotation.discountRate}}</td>
                <td>{{quotation.discountAmount}}</td>
                <td>{{quotation.subTotal}}</td>
                <td>{{quotation.vatAmount}}</td>
                <td>{{quotation.total}}</td>
                <td>{{quotation.additionalInformation}}</td>
                <td>
                    <div *ngIf="quotation.familyId">
                        <a [routerLink]="['../family-invoice', quotation.familyId  ]" >{{quotation.familyName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="quotation.tenantId">
                        <a [routerLink]="['../tenant-invoice', quotation.tenantId  ]" >{{quotation.tenantName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../quotation-invoice', quotation.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'quotation-invoice/'+ quotation.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'quotation-invoice/'+ quotation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="quotations && quotations.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
